@import ./base/ViewProfile.sass
@import ./base/Login.sass
@import ./base/Home.sass
@import ./base/Dashboard

*
  box-sizing: border-box

body
  margin: 0
  background-image: url("../assets/pexels-photo-51415.jpeg")
  background-size: 140%

.main
  margin: 0 auto
  width: 80%
