@import ./base/ViewProfile.sass
@import ./base/Login.sass
@import ./base/Home.sass
@import ./base/Dashboard

*
  box-sizing: border-box
  color: white
  font-family: helvetica

button
  background-color: lightgrey

input
  background-color: lightgrey

body
  margin: 0
  background-image: url("../assets/pexels-photo-51415.jpeg")
  background-size: cover

.main
  margin: 0 auto
  width: 80%
