.dashboard
  height: 900px

.ironBulldog
  color: white
  margin: 0
  padding: 0
  text-decoration: none
  text-align: center

.dashboard__activity
  border: 1px solid white
  display: inline-block
  height: 80%
  padding: 20px
  width: 60%

  .newActivity
    width: 75%

  .formSubmit
    background-color: rgba(46, 204, 113,1.0)
    border: none
    border-radius: 3px
    height: 30px
    outline: none
    width: 80px

.dashboard__friendsDiv
  display: inline-block
  width: 40%
  height: 80%
  vertical-align: bottom

.dashboard__friends
  border: 1px solid white
  display: inline-block
  height: 50%
  padding: 20px
  width: 100%

.dashboard__newFriends
  border: 1px solid white
  display: inline-block
  height: 50%
  padding: 20px
  width: 100%
