.ironBulldog
  color: white
  margin: 0
  padding: 0
  text-decoration: none
  text-align: center

.profile__pageHeader
  color: white

.profile__userProfile
  border: 1px solid lightgrey
  height: 40%
  margin-bottom: 15px
  width: 100%

.profile__accountSection
  border: 1px solid lightgrey
  height: 20%
  margin-bottom: 15px
  padding: 20px
  width: 100%

  .profile__accountHeader
    color: white
    text-align: center

  .profile__xboxGamertag
    color: white
    display: inline-block

  .profile__xboxGamerImage
    width: 100px

  .profile__topXboxGames
    list-style-type: none
    margin: auto

    .profile__topGame
      color: lightgrey
      display: inline-block
      text-align: center
      vertical-align: top
      width: 75px

      .profile__topGameImage
        width: 60px
