.profile__pageHeader
  color: white

input
  background-color: rgba(236, 240, 241,1.0)
  border: 1px solid rgba(52, 73, 94,1.0)
  border-radius: 3px
  color: rgba(52, 73, 94,1.0)
  border: none
  height: 30px
  margin: 15px 6px 10px 0
  padding-left: 5px
  outline: none

h2
  font-weight: normal

h3
  font-weight: normal

.exitModalButton
  background-color: rgba(231, 76, 60,1.0)
  margin-left: 30px
  margin-top: 30px

.modalSearchReturnHeader
  text-align: center

.modalSearchReturn
  margin: auto
  width: 70%

.modalSearchReturnList
  display: inline-block
  font-size: 20px
  list-style-type: none
  margin: 0
  padding-left: 20px
  vertical-align: top

.modalSearchReturnListItem
  color: lightgrey

.modalSearchReturnListItemSpan
  color: white
  font-size: 20px

.modalSearchReturnSave
  margin-right: 550px
  margin-top: 20px

.modalSearchReturnImage
  width: 100px

.searchReturnModal
  background-color: rgba(0, 0, 0, .8)
  border-radius: 15px
  height: 100%
  position: absolute
  top: 0px
  bottom: 0px
  left: 0px
  right: 0px
  visibility: hidden

.searchReturnModal--show
  visibility: visible

.editProfile__unlink
  background-color: rgba(231, 76, 60,1.0)
  visibility: hidden

.editProfile__unlink:active
  background-color: rgba(230, 126, 34,1.0)

.editProfile__unlink--show
  visibility: visible

.profile__userProfile
  background-color: rgba(25,25,25, .6)
  border-radius: 15px
  margin-top: 20px
  margin-bottom: 15px
  padding: 20px
  position: relative
  width: 100%

  .editProfileButton
    background-color: rgba(46, 204, 113,1.0)
    border: none
    border-radius: 3px
    display: inline-block
    height: 30px
    outline: none
    position: absolute
    right: 10px
    top: 10px
    width: 80px

  .editProfileButton:active
    background-color: rgba(230, 126, 34,1.0)

  .editProfileButton--hide
    display: none

  .editProfileDoneButton
    background-color: rgba(231, 76, 60,1.0)
    border: none
    border-radius: 3px
    display: none
    height: 30px
    outline: none
    position: absolute
    right: 10px
    top: 10px
    width: 80px

  .editProfileDoneButton:active
    background-color: rgba(230, 126, 34,1.0)

  .editProfileDoneButton--show
    display: inline-block

  .editProfile__form
    visibility: hidden

  .editProfile__form--show
    visibility: visible

  .formSubmit
    background-color: rgba(46, 204, 113,1.0)
    border: none
    border-radius: 3px
    height: 30px
    outline: none
    width: 80px

  .formSubmit:active
    background-color: rgba(230, 126, 34,1.0)

.profile__accountSection
  background-color: rgba(25,25,25, .6)
  border-radius: 15px
  margin-bottom: 15px
  position: relative
  width: 100%


  .profile__accountLeagueHalf
    border-right: 3px solid rgba(44, 62, 80,1.0)
    border-radius: 15px
    display: inline-block
    padding: 20px
    position: relative
    vertical-align: top
    width: 50%

    .profile__leagueLogo
      width: 100px

    .profile__summmonerTopChamps
      margin: 0

    .profile__topChampsDiv
      margin: auto
      width: 100%

      .profile__summonerTopChampsImg
        padding-left: 20px
        width: 80px

      .profile__summonerTopChampsImgNone
        margin-bottom: 94px

    .profile__accountInfoList
      display: inline-block
      font-weight: lighter
      list-style-type: none
      margin: 0
      margin-left: 10px
      padding: 0
      vertical-align: top

    .profile__accountItem
      color: lightgrey

    .profile__accountInfoItem
      display: inline-block
      font-size: 21px
      margin: 0
      padding: 0

    .profile__accountHeader
      color: white
      text-align: center

    .editProfile__form
      visibility: hidden

    .editProfile__form--show
      visibility: visible

    .formSubmit
      background-color: rgba(46, 204, 113,1.0)
      border: none
      border-radius: 3px
      height: 30px
      outline: none
      width: 80px

    .formSubmit:active
      background-color: rgba(230, 126, 34,1.0)

  .profile__accountWowHalf
    display: inline-block
    height: 100%
    padding: 20px
    position: relative
    vertical-align: top
    width: 50%

    .profile__wowCharacterImg
      width: 100px

    .profile__accountInfoList
      display: inline-block
      font-weight: lighter
      list-style-type: none
      margin: 0
      margin-left: 10px
      padding: 0
      vertical-align: top

    .profile__accountItem
      color: lightgrey

    .profile__accountInfoItem
      display: inline-block
      font-size: 21px
      margin: 0
      padding: 0

    .profile__accountHeader
      color: white
      text-align: center

    .editProfile__form
      visibility: hidden

    .editProfile__form--show
      visibility: visible

    .formSubmit
      background-color: rgba(46, 204, 113,1.0)
      border: none
      border-radius: 3px
      height: 30px
      margin-top: 140px
      outline: none
      width: 80px

    .formSubmit:active
      background-color: rgba(230, 126, 34,1.0)

.profile__accountXboxSection
  background-color: rgba(25,25,25, .6)
  border-radius: 15px
  margin-bottom: 15px
  padding: 20px 50px
  position: relative
  width: 100%

  .profile__accountInfoList
    display: inline-block
    font-weight: lighter
    list-style-type: none
    margin: 0
    margin-left: 10px
    padding: 0
    vertical-align: top

  .profile__accountItem
    color: lightgrey

  .profile__accountInfoItem
    display: inline-block
    font-size: 21px
    margin: 0
    padding: 0

  .profile__accountHeader
    color: white
    text-align: center

  .profile__xboxGamertag
    color: white
    display: inline-block

  .profile__xboxGamerImage
    margin-bottom: 50px
    width: 100px

  .profile__topXboxGames
    display: inline-block
    list-style-type: none
    margin: auto
    padding-left: 20px
    right: 0px
    vertical-align: top

    .profile__recentGamesHeader
      margin: 0
      margin-bottom: 15px

    .profile__topGame
      color: lightgrey
      display: inline-block
      text-align: center
      vertical-align: top
      width: 75px

      .profile__topGameImage
        width: 60px

  .editProfile__form
    visibility: hidden

  .editProfile__form--show
    visibility: visible

  .formSubmit
    background-color: rgba(46, 204, 113,1.0)
    border: none
    border-radius: 3px
    height: 30px
    outline: none
    width: 80px

  .formSubmit:active
    background-color: rgba(230, 126, 34,1.0)
