.profile__pageHeader {
  color: white; }

input {
  background-color: #ecf0f1;
  border: 1px solid #34495e;
  border-radius: 3px;
  color: #34495e;
  border: none;
  height: 30px;
  margin: 15px 6px 10px 0;
  padding-left: 5px;
  outline: none; }

h2 {
  font-weight: normal; }

h3 {
  font-weight: normal; }

.profile__userProfile {
  background-color: rgba(25, 25, 25, 0.6);
  border-radius: 15px;
  margin-bottom: 15px;
  padding: 20px;
  position: relative;
  width: 100%; }
  .profile__userProfile .editProfileButton {
    background-color: #2ecc71;
    border: none;
    border-radius: 3px;
    display: inline-block;
    height: 30px;
    outline: none;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 80px; }
  .profile__userProfile .editProfileButton:active {
    background-color: #e67e22; }
  .profile__userProfile .editProfileButton--hide {
    display: none; }
  .profile__userProfile .editProfileDoneButton {
    background-color: #2ecc71;
    border: none;
    border-radius: 3px;
    display: none;
    height: 30px;
    outline: none;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 80px; }
  .profile__userProfile .editProfileDoneButton:active {
    background-color: #e67e22; }
  .profile__userProfile .editProfileDoneButton--show {
    display: inline-block; }
  .profile__userProfile .editProfile__form {
    visibility: hidden; }
  .profile__userProfile .editProfile__form--show {
    visibility: visible; }
  .profile__userProfile .formSubmit {
    background-color: #2ecc71;
    border: none;
    border-radius: 3px;
    height: 30px;
    outline: none;
    width: 80px; }
  .profile__userProfile .formSubmit:active {
    background-color: #e67e22; }

.profile__accountSection {
  background-color: rgba(25, 25, 25, 0.6);
  border-radius: 15px;
  height: 20%;
  margin-bottom: 15px;
  width: 100%; }

.profile__accountLeagueHalf {
  border-right: 3px solid #2c3e50;
  border-radius: 15px;
  display: inline-block;
  height: 20%;
  padding-left: 20px;
  padding-right: 20px;
  vertical-align: top;
  width: 50%; }
  .profile__accountLeagueHalf .profile__leagueLogo {
    width: 100px; }
  .profile__accountLeagueHalf .profile__summmonerTopChamps {
    margin: 0; }
  .profile__accountLeagueHalf .profile__topChampsDiv {
    margin: auto;
    width: 100%; }
    .profile__accountLeagueHalf .profile__topChampsDiv .profile__summonerTopChampsImg {
      padding-left: 20px;
      width: 80px; }
  .profile__accountLeagueHalf .profile__accountInfoList {
    display: inline-block;
    font-weight: lighter;
    list-style-type: none;
    margin: 0;
    margin-left: 10px;
    padding: 0;
    vertical-align: top; }
  .profile__accountLeagueHalf .profile__accountItem {
    color: lightgrey; }
  .profile__accountLeagueHalf .profile__accountInfoItem {
    display: inline-block;
    font-size: 21px;
    margin: 0;
    padding: 0; }
  .profile__accountLeagueHalf .profile__accountHeader {
    color: white;
    text-align: center; }
  .profile__accountLeagueHalf .editProfile__form {
    visibility: hidden; }
  .profile__accountLeagueHalf .editProfile__form--show {
    visibility: visible; }
  .profile__accountLeagueHalf .formSubmit {
    background-color: #2ecc71;
    border: none;
    border-radius: 3px;
    height: 30px;
    outline: none;
    width: 80px; }
  .profile__accountLeagueHalf .formSubmit:active {
    background-color: #e67e22; }

.profile__accountWowHalf {
  display: inline-block;
  height: 20%;
  padding-left: 20px;
  padding-right: 20px;
  vertical-align: top;
  width: 50%; }
  .profile__accountWowHalf .profile__wowCharacterImg {
    width: 100px; }
  .profile__accountWowHalf .profile__accountInfoList {
    display: inline-block;
    font-weight: lighter;
    list-style-type: none;
    margin: 0;
    margin-left: 10px;
    padding: 0;
    vertical-align: top; }
  .profile__accountWowHalf .profile__accountItem {
    color: lightgrey; }
  .profile__accountWowHalf .profile__accountInfoItem {
    display: inline-block;
    font-size: 21px;
    margin: 0;
    padding: 0; }
  .profile__accountWowHalf .profile__accountHeader {
    color: white;
    text-align: center; }
  .profile__accountWowHalf .editProfile__form {
    visibility: hidden; }
  .profile__accountWowHalf .editProfile__form--show {
    visibility: visible; }
  .profile__accountWowHalf .formSubmit {
    background-color: #2ecc71;
    border: none;
    border-radius: 3px;
    height: 30px;
    outline: none;
    width: 80px; }
  .profile__accountWowHalf .formSubmit:active {
    background-color: #e67e22; }

.profile__accountXboxSection {
  background-color: rgba(25, 25, 25, 0.6);
  border-radius: 15px;
  height: 20%;
  margin-bottom: 15px;
  padding: 20px;
  width: 100%; }
  .profile__accountXboxSection .profile__accountInfoList {
    display: inline-block;
    font-weight: lighter;
    list-style-type: none;
    margin: 0;
    margin-left: 10px;
    padding: 0;
    vertical-align: top; }
  .profile__accountXboxSection .profile__accountItem {
    color: lightgrey; }
  .profile__accountXboxSection .profile__accountInfoItem {
    display: inline-block;
    font-size: 21px;
    margin: 0;
    padding: 0; }
  .profile__accountXboxSection .profile__accountHeader {
    color: white;
    text-align: center; }
  .profile__accountXboxSection .profile__xboxGamertag {
    color: white;
    display: inline-block; }
  .profile__accountXboxSection .profile__xboxGamerImage {
    width: 100px; }
  .profile__accountXboxSection .profile__topXboxGames {
    display: inline-block;
    list-style-type: none;
    margin: auto;
    padding-left: 20px;
    right: 0px;
    vertical-align: top; }
    .profile__accountXboxSection .profile__topXboxGames .profile__recentGamesHeader {
      margin: 0;
      margin-bottom: 15px; }
    .profile__accountXboxSection .profile__topXboxGames .profile__topGame {
      color: lightgrey;
      display: inline-block;
      text-align: center;
      vertical-align: top;
      width: 75px; }
      .profile__accountXboxSection .profile__topXboxGames .profile__topGame .profile__topGameImage {
        width: 60px; }
  .profile__accountXboxSection .editProfile__form {
    visibility: hidden; }
  .profile__accountXboxSection .editProfile__form--show {
    visibility: visible; }
  .profile__accountXboxSection .formSubmit {
    background-color: #2ecc71;
    border: none;
    border-radius: 3px;
    height: 30px;
    outline: none;
    width: 80px; }
  .profile__accountXboxSection .formSubmit:active {
    background-color: #e67e22; }

button {
  background-color: #2ecc71;
  border-radius: 3px;
  border: none;
  outline: none; }

.login__signIn {
  display: inline-block; }

.login__signIn--hide {
  display: none; }

.login__signOut {
  display: none; }

.login__signOut--show {
  background-color: #e74c3c;
  display: inline-block; }

.ironBulldog {
  color: white;
  display: block;
  font-size: 40px;
  margin: 0 auto;
  padding: 0;
  text-decoration: none;
  text-align: center; }

.iconActivity {
  margin-bottom: 10px;
  position: absolute;
  right: 100px;
  top: 110px; }

.iconProfile {
  position: absolute;
  right: 40px;
  top: 108px; }

.dashboard {
  height: 900px; }

.ironBulldog {
  color: white;
  margin: 0;
  padding: 0;
  text-decoration: none;
  text-align: center; }

.dashboard__activity {
  border: 1px solid white;
  display: inline-block;
  height: 80%;
  padding: 20px;
  width: 60%; }
  .dashboard__activity .newActivity {
    width: 75%; }
  .dashboard__activity .formSubmit {
    background-color: #2ecc71;
    border: none;
    border-radius: 3px;
    height: 30px;
    outline: none;
    width: 80px; }

.dashboard__friendsDiv {
  display: inline-block;
  width: 40%;
  height: 80%;
  vertical-align: bottom; }

.dashboard__friends {
  border: 1px solid white;
  display: inline-block;
  height: 50%;
  padding: 20px;
  width: 100%; }

.dashboard__newFriends {
  border: 1px solid white;
  display: inline-block;
  height: 50%;
  padding: 20px;
  width: 100%; }

* {
  box-sizing: border-box;
  color: white;
  font-family: helvetica; }

body {
  margin: 0;
  background-color: #2c3e50;
  background-size: cover; }

.main {
  margin: 0 auto;
  position: relative;
  width: 80%; }
